{% extends "layout.html" %}

{% block head %}
{% block title %}Search for a book{% endblock %}
{% endblock %}

{% block content %}
    <h2>Fill in any of the following information to as much as you know</h2>
        <form action='/search' method="post">
            <input autocomplete="off" autofocus name="isbn" placeholder="ISBN" type="text" />
            <input autocomplete="off" autofocus name="title" placeholder="Title" type="text" />
            <input autocomplete="off" autofocus name="author" placeholder="Author" type="text" />
            <input type="submit" value="Search">
        </form>
    {% if books|length > 0 %}
        <h1>Books exsist</h1>
        <table>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{book.isbn}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.year}}</td>
                            <td>
                                <form action="/book" method="post">
                                    <input name="isbn" type="hidden" value="{{ book.isbn }}">
                                    <input name="title" type="hidden" value="{{ book.title }}">
                                    <input name="author" type="hidden" value="{{ book.author }}">
                                    <input name="year" type="hidden" value="{{ book.year }}">
                                    <input type="submit" value="View Details">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <h1>No books found under that search criteria</h1>
    {% endif %}
{% endblock %}